@model MundoTechMatematica.Models.Curso

<div id="content" class="site-content shop-content">
    <div class="page-title parallax-window" data-parallax="scroll" >
        <image src="~/images/placeholder/blog-title.jpg" ></image>
        <div class="container">
            <h1>CARRITO</h1>
            
        </div><!-- .container -->
    </div><!-- .page-title -->
    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <form class="cart-form" action="#" />
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="product-name">Curso</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>

                                <tbody id="itemcarrito"> </tbody>

                                <tr>
                                    <td class="product-action" colspan="5">
                                        <input type="text" placeholder="Código de cupón" class="pull-left" />
                                        <input type="button" value="Aplicar Cupón" class="button primary rounded pull-left" />
                                        <input type="button" value="Actualizar" class="button primary rounded pull-right" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <div class="cart-collaterals">
                            <h2>Totales del carrito</h2>
                            <table>
                                <tbody>
                                    

                                    <tr class="order-total">
                                        <th>Total: </th>
                                        <td><span id="totalCompra" class="amount"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="button large full rounded proceed-checkout" href='@Url.Action("Checkout","Home")' >PROCESAR COMPRA <i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- .cart-collaterals -->
                    </div>
                </div><!-- .row -->
            </main><!-- .site-main -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->

@section scripts{
<script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var cursos = [];
            if (carrito != null) {
                cursos = JSON.parse(carrito);
                CargarCursos(cursos);
            }
        });

        function AgregarCarrito(cursoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var cursos = [];
            if (carrito != null) {
                cursos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < cursos.length; i++) {
                if (cursos[i].CursoId == cursoid) {
                    itemActual = cursos[i];
                }
            }

            if (!itemActual) {
                cursos.push({ CursoId: cursoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(cursos);
            localStorage.setItem("carrito", jsonStr);

            CargarCursos(cursos);

        }



        function CargarCursos(cursos) {
            var html = '';
            var total = 0;

            $.each(cursos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                                 '<td class="product-remove"><a href="#" class="remove"><i class="fa fa-times"></i></a></td>' +
                                 '<td class="product-name"><a href="single-product.html"><img src="/ImgCursos/' + this.Imagen + '" width="110" height="110" alt="" /><span>' + this.Denominacion + '</span></a></td>' +
                                 '<td class="product-price"><p class="price">S/. ' + this.Precio + '</p></td>' +
                                 '<td class="quantity">' +
                                 '        <input type="text" value="' + this.Cantidad + '" title="Qty" class="qty" size="4" />' +
                                 '</td>' +
                                 '<td  class="product-subtotal">' +
                                 '           <p class="price">S/. ' + this.Precio * this.Cantidad + '</p>' +
                                  '</td>'+
                                 '</tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }
        
</script>

}
