
<div id="content" class="site-content">
    <div class="page-title parallax-window" data-parallax="scroll" >
        <image src="~/images/placeholder/blog-title1.jpg"></image>
        <div class="container">
            
            
        </div><!-- .container -->
    </div><!-- .page-title -->
    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="shipping-fields">
                            <h2>Enviar a una dirección diferente?</h2>
                            <div class="input-field clearfix create-acc">
                                <div class="checkbox pull-left">
                                    <input name="create-acc" id="create-acc" value="yes" type="checkbox" />
                                    <label for="create-acc">Crear una cuenta?</label>
                                </div>

                                <div class="site-info pull-right">
                                    Eres cliente? <a href="#" class="showlogin">Click aquí</a>
                                </div><!-- .site-info -->
                            </div><!-- .input-field -->

                            <div class="input-field">
                                <div class="selectbox">
                                    <select name="country" id="country">
                                        <option />Country *
                                        <option value="vietnam" />Vietnam
                                        <option value="US" />US
                                    </select>
                                </div>
                            </div><!-- .input-field -->

                            <div class="input-field pull-left col-2">
                                <input type="text" name="first-name" placeholder="First Name *" />
                            </div><!-- .input-field -->

                            <div class="input-field pull-right col-2">
                                <input type="text" name="last-name" placeholder="Last Name" />
                            </div><!-- .input-field -->

                            <div class="input-field clearfix">
                                <input type="text" name="company-name" placeholder="Company Name" />
                            </div><!-- .input-field -->

                            <div class="input-field pull-left col-2">
                                <input type="text" name="street-address" placeholder="Street Address *" />
                            </div><!-- .input-field -->

                            <div class="input-field pull-right col-2">
                                <input type="text" name="apartment" placeholder="Apartment, suite, unite ect (optinal)" />
                            </div><!-- .input-field -->

                            <div class="input-field clearfix">
                                <input type="text" name="town-city" placeholder="Town/City *" />
                            </div><!-- .input-field -->

                            <div class="input-field">
                                <input type="text" name="contry-states" placeholder="Contry/States" />
                            </div><!-- .input-field -->

                            <div class="input-field">
                                <input type="text" name="zip-code" placeholder="Post code/Zip *" />
                            </div><!-- .input-field -->

                            <div class="input-field pull-left col-2">
                                <input type="text" name="email" placeholder="Email Address *" />
                            </div><!-- .input-field -->

                            <div class="input-field pull-right col-2">
                                <input type="text" name="phone-number" placeholder="Phone Number" />
                            </div><!-- .input-field -->

                            <div class="input-field clearfix">
                                <textarea name="note" placeholder="Order Note" rows="4" cols="22"></textarea>
                            </div><!-- .input-field -->
                        </div><!-- .shipping-fields -->
                    </div>

                    <div class="col-md-4">
                        <div class="your-order">
                            <h2>Pedido</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Curso</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Big Magic  x 1</td>
                                        <td>$199.00</td>
                                    </tr>

                                    <tr>
                                        <td>How We'll Live on Mars  x 1</td>
                                        <td>$110.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="amount">$300.00</span></td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Shipping</th>
                                        <td>Free Shipping</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><span class="amount">$300.00</span></td>
                                    </tr>
                                </tfoot>
                            </table>

                            <form action="#" class="checkout-payment">
                            <ul>
                                <li class="payment_method_bacs">
                                    <div class="radio">
                                        <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="bacs" checked="checked" />
                                        <label for="payment_method_bacs">Transferencia Bancaria</label>
                                    </div>

                                    <div class="payment_box payment_method_bacs">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                    </div>
                                </li>
                                <li class="payment_method_cheque">
                                    <div class="radio">
                                        <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" />
                                        <label for="payment_method_cheque">Pago por cheque</label>
                                    </div>
                                </li>
                                <li class="payment_method_paypal">
                                    <div class="radio">
                                        <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal" />
                                        <label for="payment_method_paypal">PayPal</label>
                                    </div>
                                </li>
                            </ul>
                            <input type="button" value="Pagar" class="button large rounded full place-order" />
                            </form><!-- .checkout-payment -->
                        </div><!-- your-order -->
                    </div>
                </div><!-- .row -->
            </main><!-- .site-main -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->

