@model MundoTechMatematica.Models.Curso

<div id="content" class="site-content">
    <div  >
     <br /><br /> <br /> <br /> <br /><br /><br />
       
    </div><!-- .page-title -->

    <div class="container">
        <div class="row">
            <div id="main" class="site-main col-md-9">
                <h1 class="post-title">@Html.DisplayFor(model => model.Denominacion)</h1>
                <ul class="post-meta">
                    <li><a href="#"><i class="fa fa-user"></i> Rose Nelson</a></li>
                    <li><a href="#"><i class="fa fa-clock-o"></i> November 30, 2016</a></li>
                    <li><a href="#"><i class="fa fa-bookmark"></i> Language</a></li>
                </ul>

                <a data-gal="prettyPhoto" href="https://www.youtube.com/watch?v=1GaMGdOQLvg" class="video">
                    <img src="~/images/placeholder/video3.jpg" alt="" />
                </a><!-- .video -->
                <br />
                <div class="post-desc">
                    <p>Duis gravida tempus imperdiet. Vivamus elit vel consequat elementum. Cras consequat lorem non orci sagittis, eget volutpat neque imperdiet. Nam auctor nisi vitae enim accumsan, ac dignissim tortor consequat.</p>
                    <ul>
                        <li>Vestibulum nibh purus, porta non molestie eget, laoreet orci. </li>
                        <li>Nam malesuada dolor eget aliquet rhoncus</li>
                        <li>Sed feugiat vestibulum mauris, at ultricies eros feugiat feugiat</li>
                        <li>Aliquam lacinia urna vulputate molestie volutpat</li>
                        <li>Aenean et orci eget neque faucibus iaculis feugiat sed sapien.</li>
                    </ul>
                </div><!-- .post-desc -->

                <ul class="course-list-table">
                    <li>
                        <h4>1. Introduction <span class="info">1 lesson, 01:20</span></h4>
                        <ul>
                            <li>1.1  Introduction <span class="time">01:20</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>2. Initial Stages <span class="info">3 lessons, 5:31:15</span></h4>
                        <ul>
                            <li>2.1  Aenean euismod molestie congue <span class="time">56:30</span></li>
                            <li>2.2  Nam vel lacinia felis, eu rutrum lectus <span class="time">30:17</span></li>
                            <li>2.3  Aliquam lacinia urna eu molestie volutpat <span class="time">39:10</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>3. Decision Making <span class="info">7 lessons, 2:31:39</span></h4>
                        <ul>
                            <li>3.1  Cras molestie, diam nec euismod nunc dui volutpat <span class="time">20:11</span></li>
                            <li>3.2  Pellentesque habitant morbi tristique senectus <span class="time">11:19</span></li>
                            <li>3.3  Etiam eu dolor quis lectus fringilla viverra <span class="time">31:15</span></li>
                            <li>3.4  Donec imperdiet justo eu ligula ullamcorper volutpat</li>
                            <li>3.5  Curabitur mauris orci, ultrices nec semper et, porttitor eu tellus <span class="time">35:11</span></li>
                            <li>3.6  Donec imperdiet justo eu ligula ullamcorper volutpat <span class="time">10:55</span></li>
                            <li>3.7  Suspendisse ut urna  ante accumsan, mollis ante <span class="time">11:35</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>4. Conclusion <span class="info">1 lesson, 30:15</span></h4>
                        <ul>
                            <li>4.1  Aliquam lacinia urna eu molestie volutpat <span class="time">30:15</span></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- .site-main -->

            <div class="col-md-3 sidebar">
                <aside class="widget appply-form">
                    <a href="#" class="button large full primary rounded apply-button">Apply now</a>
                    <div class="course-detail">
                        <ul>
                            <li>Price: <span class="price">$2139</span></li>
                            <li>Lessons:  12</li>
                            <li>Length:  12 hours</li>
                            <li>Level:  Basic</li>
                            <li>Category: <a href="#">Business</a></li>
                            <li>
                                <div class="star-rating">
                                    <span style="width:80%"></span>
                                </div>
                                <span>(102 reviews)</span>
                            </li>
                        </ul>
                    </div>
                </aside>

                <aside class="widget teacher-widget">
                    <h3 class="widget-title">Teacher</h3>
                    <div class="speaker">
                        <div class="speaker-thumb">
                            <img src="~/images/placeholder/user14.jpg" alt="" />
                        </div><!-- .speaker-thumb -->

                        <div class="speaker-info">
                            <span class="name">Rose Nelson</span>
                            <span class="job">English teacher</span>
                            <p>Nam tempus ipsum non magna varius imperdiet. Etiam non sapien id diam cursus rutrum. Nulla nec leo ultrices, porttitor dui vel ornare massa.</p>
                        </div><!-- .speaker-info -->
                        <div class="socials">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div><!-- .sidebar -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->
